body{
    background-color: skyblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
@keyframes color-change {
    0% {
      color: blue;
    }
  
    75% {
      color: rgba(251, 247, 5, 0.779);
    }
    50% {
      color: rgba(251, 5, 5, 0.779);
    }
  
  
    100% {
      color: rgb(123, 255, 0);
      height: auto;
    }
}

h1 {
    animation: color-change 3s infinite;
}